html {
  overflow: hidden;
}

.App {
  text-align: center;
}

.masker {
  mask-size: 103%;
}

@font-face {
  font-family: 'technology';
  src: url('../public/fonts/digital-7.ttf') format('truetype');
} 

.clock {
  font-family: 'technology';
  font-size: 55px;
}

.timezone-text {
  font-family: 'Helvetica';
  font-size: 15px;
  padding-bottom: 0.5rem;
}

.spotify-header {
  color: white;
  text-align: center;
  align-items: center;
  font-size: 30px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.spotify-content {
  display: flex;
  color: white;
  align-items: center;
  flex-direction: column;
  font-size: 15px;
  font-family: "Helvetica Neue", Helvetica, Arial, sans-serif;
}

.spotify-track-layout .spotify-text-content {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: flex-start;
}

@keyframes App-logo-spin {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}